.indicator-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 16px;
  font-size: 15px;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

.indicator-table th {
  background-color: #004080;
  color: white;
  padding: 10px 14px;
  text-align: left;
}

.indicator-table td {
  padding: 8px 14px;
  border-bottom: 1px solid #ddd;
}

.indicator-table tr.even {
  background-color: #f9f9f9;
}

.indicator-table tr.odd {
  background-color: #ffffff;
}

.indicator-table td.right {
  text-align: right;

}
ul {
  margin-top: 10px;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* CompanyDetail.css */